<nb-flip-card [flipped]="flipped" [showToggleButton]="false" *ngIf="dataAvailable" class="display-layout">
  <nb-card-front>
    <nb-card status="success">
      <nb-card-header>{{clientSessionDetails?.clientIdNameAddress?.clientName}}</nb-card-header>
      <nb-card-body>
        <h6>{{filterValue.selectedDay}}'s sessions</h6>
        <nb-accordion>
          <nb-accordion-item *ngFor="let session of clientSessionDetails?.sessions | dateFilter:filterValue">
            <nb-accordion-item-header>
              {{session.fromTime + " " + session.toTime }}
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <p>Available tokens {{session.availableToken}}</p>
              <p>Total tokens {{session.noOfTokens}}</p>
              <p *ngIf="session.tokenNumber>0">
                <b style="color: green">Your Booked token number is {{session.tokenNumber}}</b>
                <br/>
                <b style="color: red">Please submit your token once you reach the clinic</b>
              </p>
              <p *ngIf="session.availableToken<1 && session.tokenNumber<1">
                <b style="color: red">No tokens available</b>
              </p>
              <button nbButton [status]="success" (click)="confirmTokenBooking(session.sessionId)"
                      [disabled]="session.tokenNumber>0 || session.availableToken<1">Book
              </button>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
        <p *ngIf="filterValue.filterCount == 0">No sessions available</p>
      </nb-card-body>
      <nb-card-footer>
        <input nbInput
               placeholder="Form Picker"
               [nbDatepicker]="formpicker" [(ngModel)]="filterValue.selectedDate"
               (ngModelChange)="setFilerDate()">
        <nb-datepicker #formpicker [min]="minDate" [max]="maxDate"></nb-datepicker>
      </nb-card-footer>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card status="info">
      <nb-card-header>Confirmation</nb-card-header>
      <nb-card-body>
        <p>Do you want to book a token?</p>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="primary" size="medium" (click)="bookToken()"
                [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="medium">
          Yes
        </button>
        <button class="button-border" nbButton status="primary" size="medium" (click)="flipToggle()">
          No
        </button>
      </nb-card-footer>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
