<nb-flip-card [showToggleButton]="false" [flipped]="flipped" class="display-layout">
  <nb-card-front>
    <nb-card status="success">
      <nb-card-header>
        <div>
          {{bookingSummary.clientName}}<br/>
          {{bookingSummary.date}} ({{bookingSummary.fromTime}}-{{bookingSummary.toTime}})
          </div>
      </nb-card-header>
      <nb-card-body>
        <p id="startLat" [hidden]="true"></p>
        <p id="startLon" [hidden]="true"></p>
        <p id="locationError" [hidden]="true"></p>
        <div *ngIf="bookingSummary.status=='SUBMITTED'">
          <p style="color: green"><b>Your submitted token no. is {{bookingSummary.tokenNumber}}</b></p>
        </div>
        <div *ngIf="bookingSummary.status=='BOOKED'">
          <p style="color: green">
            <b>Your booked token no. is {{bookingSummary.tokenNumber}}</b></p>
          <p style="color: green">
            <b>Your recommended time to visit : {{bookingSummary.recommendedTime}}</b>
          </p>
        </div>
        <div *ngIf="bookingSummary.status=='CANCELLED'">
          <p style="color: red"><b>Your cancelled token number is {{bookingSummary.tokenNumber}}</b></p>
        </div>
        <div *ngIf="bookingSummary.status=='COMPLETED'">
          <p style="color: darkgreen"><b>Your completed token number is {{bookingSummary.tokenNumber}}</b></p>
        </div>
      </nb-card-body>
      <nb-card-footer *ngIf="bookingSummary.status=='BOOKED'">
        <button nbButton status="primary" size="small" (click)="submitToken()">
          Submit
        </button>
        <button class="button-border" nbButton status="danger" size="small" (click)="cancelToken()">
          Cancel
        </button>
      </nb-card-footer>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="tiny" status="info">
      <nb-card-header>Confirmation</nb-card-header>
      <nb-card-body>
        <p *ngIf="actionSelected == 'SUBMIT'">Do you want to submit a token ?</p>
        <p *ngIf="actionSelected == 'CANCEL'">Do you want to cancel a token ?</p>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="primary" size="medium" (click)="OK()"
                [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="medium">
          Yes
        </button>
        <button class="button-border" nbButton status="primary" size="medium" (click)="toggleView()">
          No
        </button>
      </nb-card-footer>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
