<nb-flip-card [showToggleButton]="false" [flipped]="flipped" class="display-layout">
  <nb-card-front >
    <nb-card status="success">
      <nb-card-header>
        <div>
          {{bookingSummary.clientName}}<br/>
          {{bookingSummary.date}} ({{bookingSummary.fromTime}}-{{bookingSummary.toTime}})
          </div>
      </nb-card-header>
      <nb-card-body>
        <p id="startLat" [hidden]="true"></p>
        <p id="startLon" [hidden]="true"></p>
        <p id="locationError" [hidden]="true"></p>
        <div *ngIf="bookingSummary.status=='SUBMITTED'" class="text-center">
          <div class="circle circle-submitted">{{bookingSummary?.tokenNumber}}</div>
        </div>
        <div *ngIf="bookingSummary.status=='BOOKED'" class="text-center">
          <div class="circle">{{bookingSummary?.tokenNumber}}</div>
          <div class="visiting-time">Visiting time: {{bookingSummary?.recommendedTime}}</div>
        </div>
        <div *ngIf="bookingSummary.status=='CANCELLED'" class="text-center">
          <div class="circle">{{bookingSummary?.tokenNumber}}</div>
        </div>
        <div *ngIf="bookingSummary.status=='COMPLETED'" class="text-center">
          <div class="circle">{{bookingSummary?.tokenNumber}}</div>
        </div>
      </nb-card-body>
      <nb-card-footer *ngIf="bookingSummary.status=='BOOKED'" class="text-center">
        <button nbButton status="primary" size="small" (click)="submitToken()">
          Submit
        </button>
        <button class="button-border" nbButton status="danger" size="small" (click)="cancelToken()">
          Cancel
        </button>
      </nb-card-footer>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="tiny" status="info">
      <nb-card-header>Confirmation</nb-card-header>
      <nb-card-body>
        <p *ngIf="actionSelected == 'SUBMIT'">Do you want to submit the token ?</p>
        <p *ngIf="actionSelected == 'CANCEL'">Do you want to cancel the token ?</p>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="primary" size="medium" (click)="OK()"
                [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="medium">
          Yes
        </button>
        <button class="button-border" nbButton status="primary" size="medium" (click)="toggleView()">
          No
        </button>
      </nb-card-footer>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
