<nb-flip-card [flipped]="flipped" [showToggleButton]="false" *ngIf="dataAvailable" class="display-layout">
  <nb-card-front>
    <nb-card status="success" >
      <nb-card-header>{{clientName}}</nb-card-header>
      <nb-card-body>
        <h6>{{filterValue.selectedDay}}'s sessions</h6>
        <nb-accordion>
          <nb-accordion-item *ngFor="let session of adminSummary?.adminSessionSummaryList | adminDateFilter:filterValue">
            <nb-accordion-item-header>
              {{session.fromTime + " " + session.toTime }}
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <p>Total Booked tokens {{session.bookedTokens + session.submittedTokens + session.completedTokens}}</p>
              <p>Submitted tokens {{session.submittedTokens}}</p>
              <p *ngIf="session.status=='INPROGRESS'" style="color:orange;">Completed tokens {{session.completedTokens}}</p>
              <button nbButton *ngIf="session.status=='ACTIVE'" [status]="success" (click)="openConfirmation(session.sessionId,'START')">Start
              </button>
              <button nbButton *ngIf="session.status=='INPROGRESS'" [status]="success" [routerLink]="['/base/admin/activesession',session.sessionId]">Continue
              </button>
              <button nbButton *ngIf="session.status=='INPROGRESS'" class="button-border" [status]="warning" (click)="openConfirmation(session.sessionId,'FINISH')" >Finish
              </button>
              <button nbButton *ngIf="session.status=='ACTIVE'" class="button-border" [status]="danger" (click)="openConfirmation(session.sessionId,'CANCEL')" >Cancel
              </button>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
        <div *ngIf="filterValue.filterCount == 0">No sessions available</div>
      </nb-card-body>
      <nb-card-footer>
        <input nbInput
               placeholder="Form Picker"
               [nbDatepicker]="formpicker" [(ngModel)]="filterValue.selectedDate"
               (ngModelChange)="setFilerDate()">
        <nb-datepicker #formpicker [min]="minDate" [max]="maxDate"></nb-datepicker>
      </nb-card-footer>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card status="info">
      <nb-card-header><b>Confirmation</b></nb-card-header>
      <nb-card-body>
        <p *ngIf="selectedAction=='START'">Do you want to start the session?</p>
        <p *ngIf="selectedAction=='CANCEL'" style="color: red">Do you want to cancel the session? All the booked and submitted tokens will be cancelled</p>
        <p *ngIf="selectedAction=='FINISH'">Do you want to finish the session? All the remaining booked tokens, if any, will be cancelled</p>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="primary" size="medium" (click)="OK()"
                [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="medium">
          Yes
        </button>
        <button class="button-border" nbButton status="primary" size="medium" (click)="flipToggle()">
          No
        </button>
      </nb-card-footer>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
